<h4>Setting header fields</h4>

Setting header fields is simple,

<pre>
<code>
  var options = {
    dataType: "json",
    headers:{
      "Content-Type": "application/json"
    }
  }

  stdFetch.get("https://jsonplaceholder.typicode.com/posts/1", options)
  .then(resp=>{
    console.log(resp)
  })
</code>
</pre> For multiple header, provide the key value pairs
<pre>
    <code>
      var options = {
        dataType: "json",
        headers:{
          "Content-Type": "application/json",
          Authorization: "Bearer writhoi34fnirnuio3nuo34nu43nnerjnvuineruv334vfvsdv"
        }
      }
    
      stdFetch.get("https://jsonplaceholder.typicode.com/posts/1", options)
      .then(resp=>{
        console.log(resp)
      })
    </code>
    </pre>